<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/_head") %>
  <body>
    <div class="container">
      <div class="sign-up">
        <h3 class="sign-up-header">Sign Up</h3>
        <% if(locals.error){%>
        <div class="error-body">
          <span class="error-text"><%= locals.error %></span>
        </div>
        <%} %>
        <form action="/auth/sign-up" method="post" class="sign-up-form">
          <div class="input-group">
            <label for="firstName"> First name </label>
            <input type="text" name="firstName" required />
          </div>
          <div class="input-group">
            <label for="lastName"> Last name </label>
            <input type="text" name="lastName" required />
          </div>
          <div class="input-group">
            <label for="email"> Email </label>
            <input type="email" name="email" required />
          </div>
          <div class="input-group">
            <label for="password"> Password </label>
            <input type="password" name="password" required />
          </div>
          <button class="auth-form-button" type="submit">Sign Up</button>
          <a href="/auth/sign-in" class="form-footer-text"
            >Got an account? Sign In</a
          >
        </form>
      </div>
    </div>
  </body>
</html>
