<div class="navBar">
  <div class="logo">
    <span>E-Club</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/member-club">Joined</a>
    </li>
    <li>
      <a href="/create-club">Create club</a>
    </li>
    <li>
      <a href="/auth/sign-out">Sign out</a>
    </li>
  </ul>
</div>
