<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/_head") %>
  <body>
    <%- include("../../partials/_navBar") %>
    <div class="wrapper">
      <div class="chart-container">
        <canvas id="myChart" width="400" height="auto"></canvas>
      </div>
    </div>
    <%- include("../../partials/_footer") %>
  </body>
</html>
