* {
  box-sizing: border-box;
}

body {
  max-width: 1100px;
  margin: auto;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in,
.sign-up {
  width: 400px;
  padding: 20px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.sign-in-header,
.sign-up-header {
  color: #1b92af;
  text-align: center;
}

.sign-in-form,
.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group label {
  color: gray;
}

.input-group input {
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  padding: 18px;
  height: 20px;
}

input:focus {
  outline: none;
}

.auth-form-button {
  background-color: #1b92af;
  padding: 10px;
  border-radius: 7px;
  border: none;
  margin-top: 25px;
  color: #fff;
}

.form-footer-text {
  color: #1b92af;
  text-decoration: none;
}

.error-body {
  background: #eedada;
  padding: 10px;
  margin-bottom: 15px;
}

.error-text {
  color: #aa7d84;
}
