@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.wrapper {
  /* max-width: 1100px;
  margin: auto; */
  padding: 10px 30px;
  min-height: calc(100vh - 75px);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* auth views start */
.sign-in,
.sign-up {
  width: 400px;
  padding: 20px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.sign-in-header,
.sign-up-header {
  color: #1b92af;
  text-align: center;
}

.sign-in-form,
.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group label {
  color: gray;
}

.input-group input {
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  padding: 18px;
  height: 20px;
}

input:focus {
  outline: none;
}

.auth-form-button {
  background-color: #1b92af;
  padding: 10px;
  border-radius: 7px;
  border: none;
  margin-top: 25px;
  color: #fff;
  cursor: pointer;
}

.form-footer-text {
  color: #1b92af;
  text-decoration: none;
}

.auth-error-body {
  background: #eedada;
  padding: 10px;
  margin-bottom: 15px;
}

.auth-error-text {
  color: #aa7d84;
}

/* auth view end */

/* nav view start */
.navBar {
  width: 100%;
  height: 45px;
  background: #1b92af;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links li {
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
}

/* nav view end */

/*sidebar view start*/
/* .sidebar-overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
} */
.sidebar {
  width: 50%;
  background: #fff;
  height: 100%;
  position: fixed;
  z-index: 2;
  transform: translateX(-1000px);
  transition: 0.3s ease-in-out;
}

.sidebar.opened {
  transform: translateX(0px);
}

.sidebar-links {
  margin-top: 10px;
}

.sidebar-links li {
  padding: 15px 0px 15px 20px;
}

.sidebar-links li a {
  color: #1b92af;
}

.menu {
  cursor: pointer;
  color: #fff;
  font-size: 35px;
  display: none;
}
/*sidebar view end*/

/* create club view start */

.create-club-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-club-header {
  color: gray;
  margin: 30px 0px;
}

.club-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.create-club-button {
  background-color: #1b92af;
  padding: 10px;
  border-radius: 7px;
  border: none;
  margin-top: 25px;
  color: #fff;
  cursor: pointer;
}

.profile-header {
  color: gray;
  margin-bottom: 20px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.grid-item {
  padding: 20px 20px 10px 20px;
  width: 100%;
  height: 150px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.62);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s ease-in-out;
}

.grid-item-button {
  cursor: pointer;
  background-color: #1b92af;
  padding: 10px;
  border-radius: 7px;
  border: none;
  margin-top: 25px;
  color: #fff;
  width: 100%;
}

.grid-item:hover {
  transform: scale(1.06);
}

/* create club view end */

/* club view start */
.club-title {
  color: gray;
}

.club-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.tab-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid #cdcdcd;
}

.tab-header-one,
.tab-header-two,
.tab-header-three {
  cursor: pointer;
  padding: 10px;
}

.tab-header-one:hover,
.tab-header-two:hover,
.tab-header-three:hover {
  color: #1b92af;
}

.tab-one {
  overflow-x: auto;
}

.table {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  /* border: 1px solid gray; */
}

td,
tr,
th {
  padding: 5px 10px;
}

/* tr:nth-child(even) {
  background-color: #c8c8c8;
} */

th {
  color: gray;
  text-transform: capitalize;
}

a.delete {
  text-decoration: none;
}

.delete button {
  color: #fff;
  padding: 5px 10px;
  background: #920000;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.tab-two,
.tab-three {
  display: none;
}

.add-member h3 {
  color: gray;
  margin-bottom: 15px;
}

.add-member-btn {
  background-color: #1b92af;
  padding: 10px;
  border-radius: 7px;
  border: none;
  margin-top: 25px;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
/* club view end */

/*chart view start*/
.chart-container {
  margin-top: 30px;
}
/*chart view end*/

/*invite view start*/
.club-actions {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-top: 20px;
}

.club-actions form {
  flex: 1;
}

.invite-accept {
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: #369143;
  color: #fff;
  width: 100%;
  cursor: pointer;
}

.invite-decline {
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: #b42525;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
/*invite view end*/

/* footer view start */

.footer {
  height: 30px;
  background-color: #1b92af;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer view end */

/* re-usables start */

.error-body {
  background: #eedada;
  padding: 10px;
  margin-bottom: 25px;
  width: 50%;
}

.error-text {
  color: #aa7d84;
}

.success-body {
  background: #d4edda;
  padding: 10px;
  margin-bottom: 25px;
  width: 50%;
}

.success-text {
  color: #155724;
}

.empty {
  color: gray;
}

/* re-usables end */

/* responsiveness */
@media (max-width: 768px) {
  .navBar {
    padding: 10px;
  }
  .nav-links {
    display: none;
  }
  .menu {
    display: block;
  }
  .club-title {
    margin: 15px 0px;
  }
  .club-form {
    width: 100%;
  }
  .success-body,
  .error-body {
    width: 100%;
  }
  .tab {
    width: 100%;
  }
}
